<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Admin Login </title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="icon" href="/CCSNew.png">
</head>

<body>
    <h1 class="title"><b>ADMINISTRATOR LOGIN</b><br> </h1>
    <form action="/auth/admin" method="POST">
        <div class="container">
            <label>
                <center> Username : </center< /label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <label>Password : </label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <button type="submit">LOGIN</button>


                    <a href="registration"> <button type="button" class="cancelbtn" method="POST">REGISTER</button> </a>
                    <a href="/"> <button type="button" class="cancelbtn" method="POST">STUDENT LOGIN</button> </a>
                    {{#if message3}}
                    <h4 class='alert alert-danger mt-4'>{{message3}}</h4>
                    {{/if}}
        </div>
    </form>
    <div class="logos">
        <div class="logo">
            <img src="/CCSNew.png" alt="CCS logo" usemap="#map" style="width:100px;heigt:100px;">
            <map name="#map">
                <area shape="rect" coords="1,1,1000,1000" alt="css link"
                    href="https://dhvsu.edu.ph/index.php/academics-menu/bacolor-campus/college-of-computer-studies"
                    target="_blank">
            </map>
        </div>
        <div class="logo">
            <img src="/DHVSU.png" alt="dhvsu logo" usemap="#map1" style="width:100px;height:100px;">
            <map name="#map1">
                <area share="rect" coords="1,1,1000,1000" alt="dhvsu link" href="https://dhvsu.edu.ph/" target="_blank">
            </map>
        </div>
    </div>

    <footer class="footerAdmin">
        <center>
            <p>No copyright infrengement intended <br>
                for educational purposes only.</p>
        </center>
        </footerA>
</body>

</html>