<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> ✔ Welcome </title>

    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel = "icon" href="/CCSNew.png">
    </head>
    <body>
 <h1 class="title"><b>WELCOME ADMINISTRATOR!</b><br> </h1>
 <br>
 <h3> <center><b>LIST OF LOGS FOR ALL LOGIN SESSIONS</b><br> </center></h3>
        <center>

       <table class=tabledesign>
                        <div class="tablehead">
                        <thead>
                            <tr>
                                <th scope="col">USER</th>
                                <th scope="col">DATE/TIME</th>
                            </tr>
                        </thead>
                        </div>
                        <tbody>
                            {{#each results}} 
                            <tr>
                                <td>{{username}}</td>
                                <td>{{datetime}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        
                    </table>

                    
                    <div class="logout">
                     <a href="/admin"> <button type="button" class="cancelbtn" method="POST" >LOG OUT</button> </a>
                     </div>

                     <div class="viewdata">
                      <a href="#" > <button type="button" class="cancelbtn" method="POST" >View Database</button> </a>  
                     </div>
                   </center>
    </body>
</html>