<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> ✔ Registration </title>  
  
    <link rel= "stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel = "icon" href="/CCSNew.png">
</head>    
<body>    
     <h1><b> <img src="/CCSNew.png" alt="ccslogo"><center> REGISTRATION FORM</b></center></h1>   
   
    <form action="get_data" method="POST" style="margin-top: 5%;">  
        <div class="container">   
            <!-- userinputs -->
            <label> <center> Last Name :</label>   
            <input type="text" placeholder="Enter Last Name" name="lastname" required>  

            <label> First Name :</label>   
            <input type="text" placeholder="Enter First Name" name="firstname" required> 

            <label> Middle Initial</label>   
            <input type="text" placeholder="Middle Initial e.g L. / D.C" name="middleinitial" >

            <label> Email</label>   
            <input type="text" placeholder="email@domainname.com" name="email" >

            <label>Student Number</label>   
            <input type="text" placeholder="10 digit Student Number" name="studentnumber" >

            <label> Username</label>   
            <input type="text" placeholder="Username" name="username" required>

            <label> Password</label>   
            <input type="password" placeholder="Password" name="password" required>

            <label> Confirm Password</center/label>   
            <input type="password" placeholder=" Confirm Password" name="confirmpassword" required>
            
            <button type="submit">Sign up</button> 
            <center>
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            <center>Already a user? login <a href="/index"> here </center> </a>   
            Site admin?<a href="/admin">click here</a>
        </center>  
        </div>   
    </form>     
    {{#if message}}
    <h4 class = 'alert alert-danger mt-4'>{{message: }}</h4>
    {{/if}}
</body>     
</html>