<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> ✔ Registration </title>  
  
    <link rel= "stylesheet" href="/css/styling2.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href = "https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel = "icon" href="/img/CCSNew.png">
</head>    
<body>    
     <h1><b> <img src="/img/CCSNew.png" alt="ccslogo"><center> REGISTRATION FORM</b></center></h1>   
   
    <form action="get_data" method="POST" style="margin-top: 5%;">  
        <div class="container">   
            <!-- userinputs -->
            <label> <center> Last Name :</label>   
            <input type="text" placeholder="Enter Last Name" name="lastname" required>  

            <label> First Name :</label>   
            <input type="text" placeholder="Enter First Name" name="firstname" required> 

            <label> Middle Initial</label>   
            <input type="text" placeholder="Middle Initial e.g L. / D.C" name="middleinitial" >

            <label> Email</label>   
            <input type="text" placeholder="email@domainname.com" name="email" >

            <label>Student Number</label>   
            <input type="text" placeholder="10 digit Student Number" name="studentnumber" >

            <label> Username</label>   
            <input type="text" placeholder="Username" name="username" required>

            <label> Password</label>   
            <input type="password" placeholder="Password" name="password" required>

            <label> Confirm Password</center/label>   
            <input type="password" placeholder=" Confirm Password" name="confirmpassword" required>
            
            <button type="submit">Sign up</button> 
            <center>
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            <center>Already a user? <a href="/img/3rd.html">login here</center> </a>   
            Site admin?<a href="/img/5th.html" target="_balnk">click here</a>
        </center>  
        </div>   
    </form>  
    <hr>

    <div class="logos">
        <div class="logo">
            <img src="/img/CCSNew.png" alt="CCS logo" usemap="#map" style="width:100px;heigt:100px;">
            <map name="#map">
            <area shape="rect" coords="1,1,1000,1000" alt="css link" href="https://dhvsu.edu.ph/index.php/academics-menu/bacolor-campus/college-of-computer-studies" target="_blank">
            </map>
        </div>
        <div class="logo">
            <img src="/img/DHVSU.png" alt="dhvsu logo" usemap="#map1" style="width:100px;height:100px;"> 
            <map name="#map1">
                <area share="rect" coords="1,1,1000,1000" alt="dhvsu link" href="https://dhvsu.edu.ph/" target="_blank">
            </map>      
        </div>
    </div>  

    <footer class="footerRegister">
    <center><p>No copyright infrengement intended for educational purposes only.</p></center>
    </footer>
</body>    
</html>