Body {
    font-family: 'Montserrat', sans-serif;  
    background-color: #f1f1f1;  
    margin:0;

  }  
  
h1{  
  margin: 0% 0%;
  background-color:rgb(96, 56, 206);  
  padding: 10px 10px;
  color: #f1f1f1;
  position: static;
  top: 0px;
  width: 100%;
  
}

h1 img{
    float: left;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.containers{
    width: 100%;
    height: 150px;
    margin: auto, auto;
    border: 5px solid black;
    
    
}
button {   
    background-color: rgb(96, 56, 206);   
    width: 100%;  
    color: #f1f1f1;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;     
    border-radius: 30px;
    font-weight: bolder;
    font: size 15px;
}   

a{
    color: rgb(96, 56, 206);
    font-weight: bolder;
}

#name{
    size: 20px;
}

form { 
    text-align: center;  
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid #f1f1f1;   
    border-radius: 30px;
  }   

   input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid rgb(62, 49, 121);   
    box-sizing: border-box;   
    border-radius: 30px;
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 5px 10px;  
    margin: 5px 10px;  
}   
              
.container {   
    padding: 25px;   
    background-color: lightgray;  
    border-radius: 30px;
}  

form img{
   
    position: relative;


}

.userinfo{
    text-align: center;
    line-height: 26px;
    position: relative;
    
}

.title {
    text-align:center;
}

.logos{
    text-align: center;

}

.logo{
    display:inline-block;
 
}


hr {
    background-color:rgb(96, 56, 206);
}
footer{
    position: relative;
    bottom: 0%;
    margin-bottom: 0;
}
.footerindex{
    margin: 0% 0%;
  background-color:rgb(96, 56, 206);  
  padding: 20px 15px;
  color: #f1f1f1;
  position: static;
  bottom: 0px;
  width: 100%;

}

.footerRegister {
    margin: 0% 0%;
  background-color:rgb(96, 56, 206);  
  padding: 20px 15px;
  color: #f1f1f1;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.footerAdmin{
    margin: 0% 0%;
  background-color:rgb(96, 56, 206);  
  padding: 20px 15px;
  color: #f1f1f1;
  position: relative;
  bottom: 0px;
  width: 100%;

}