Body {
    font-family: 'Montserrat', sans-serif;  
    background-color: #f1f1f1;  
    margin:0;

  }  
  
h1{  
  margin: 0% 0%;
  background-color:teal;  
  padding: 10px 10px;
  color: #f1f1f1;
  position: static;
  top: 0px;
  width: 100%;
  
}

h1 img{
    float: left;
    width: 60px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  
  .containers {
    width: 100%;
    height: 150px;
    margin: auto, auto;
    border: 5px solid black;
    
    
}
button {   
    background-color: teal;   
    width: 100%;  
    color: #f1f1f1;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;     
    border-radius: 30px;
    font-weight: bolder;
    font: size 15px;
  }
  
  a {
    color: rgb(96, 56, 206);
    font-weight: bolder;
  }
  
  #name {
    size: 20px;
  }
  
  form {
    text-align: center;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: 3px solid #f1f1f1;
    border-radius: 30px;
  }   

   input[type=text], input[type=password] {   
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid  teal;   
    box-sizing: border-box;   
    border-radius: 30px;
}  
button:hover {   
    opacity: 0.7;   
}   
.cancelbtn {   
    width: auto;   
    padding: 10px 10px;  
    margin: 10px 10px;  
}   
              
.container {   
    padding: 25px;   
    background-color: rgb(188, 213, 221);  
    border-radius: 30px;
  }
  
  form img {
    position: relative;
  }
  
  .userinfo {
    text-align: center;
    line-height: 26px;
    position: relative;
  }
  
  .title {
    text-align: center;
  }
  
  .logos {
    text-align: center;

}

.logo{
    display:inline-block;
 
}
/* tabledesign properties */

.tabledesign {
    border-collapse: collapse;
    margin: 20px 10px;
    font-size: 0.9em;
    min-width: 700px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    text-align:center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.tabledesign thead tr {
    background-color:teal;
    font-weight: bold;
    color:white;   
}




/* table data */
.tabledesign td{
    padding: 12px 15px;
}
 /* bottom border */
.tabledesign tbody tr{
    border-bottom: 1px solid #dddddd;
}
 /* table stripped */
.tabledesign tbody tr:nth-of-type(even){
    background-color: #d6d3d3;   

}
/* bottom border color */
.tabledesign tbody tr:last-of-type {
    border-bottom: 2px solid teal
}

hr {
    background-color: teal;
}

.logout{
  position:fixed;
  right: 20px;
  top: 60px;
}
.viewdata{
  position:fixed;
  right: 20px;
  top: 110px;
}


footer{
    position: relative;
    bottom: 0%;
    margin-bottom: 0;
  }
  .footerindex {
    margin: 0% 0%;
  background-color:teal;  
  padding: 20px 15px;
  color: #f1f1f1;
  position: absolute;
  bottom: 0px;
  width: 100%;

}

.footerRegister {
    margin: 0% 0%;
  background-color:teal;  
  padding: 20px 15px;
  color: #f1f1f1;
  position: relative;
  bottom: 0px;
  width: 100%;
}

.footerDashboard {
  margin: 0% 0%;
background-color:teal;  
padding: 20px 15px;
color: #f1f1f1;
position: absolute;
bottom: 0px;
width: 100%;
}

.footerAdmin{
    margin: 0% 0%;
  background-color:teal;  
  padding: 20px 15px;
  color: #f1f1f1;
  position: absolute;
  bottom: 0px;
  width: 100%;

}
